<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ title }} | Revolutionizing the medical world</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('home.index') }}">E-partograph</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">

        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home.dashboard') }}">Dashboard</a>
          <li><a class="nav-link"><i class="fa fa-user"></i>  Hi, {{ current_user.firstname }}!</a></li>
          <li><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
</body>

</html>
